<h1>Welcome to the Administrative part of the Railway managing web application!</h1>
<h1>Currently you can navigate through the following items:</h1>
<%= link_to 'Stations list', admin_railway_stations_path %>
<%= link_to 'Trains list', admin_trains_path %>
<%= link_to 'Routes list', admin_routes_path %>
<%= link_to 'Tickets', admin_tickets_path %>