<h1>Welcome to the Railway managing web application!</h1>
<h1>Currently you can navigate through the following items:</h1>
<%= link_to 'Tickets', tickets_path %>
<p>
  <%= link_to 'Buy ticket', new_search_path %>
</p>
