<p id="notice"><%= notice %></p>

<h1>Cars Listing</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Type</th>
      <th>Top Seats</th>
      <th>Bottom Seats</th>
      <th>Train</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>    
    <%= render @cars %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
