<p>Hello, <%= @user.first_name %> </p>

<p>You have cancelled the ticket on route "<%= @route_name %>"</p>
<p>If you wish to check your other tickets' details you can do so <%= link_to "here", tickets_url %></p>
