<!DOCTYPE html>
<html>
  <head>
    <title>ThinkTutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= yield %>

  <div class="footer">
    <ul>
      Project for
      <a href = "http://www.thinknetica.com">Thinknetica online-courses</a>
      © 2017 Asfour George
    </ul>
  </div>

  </body>
</html>
